.faq-section {
    padding-bottom: 100px;
    .faq-item {
        border-bottom: 1px solid #ccc;
        margin: 10px;
        cursor: pointer;

        .faq-question {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            font-weight: bold;
            user-select: none;
            font-size: 15px;

            .fas.fa-caret-right {
                margin-right: 10px;
                transition: transform 0.4s; 
                font-size: 15px;
                line-height: 1.4;
                transform-origin: center;
            }
        }

        .faq-answer {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 100 !important;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease-in-out; 

            &.active {
                max-height: 1000px; 
            }
        }

        &.active {
            .faq-question .fas.fa-caret-right {
                transform: rotate(-90deg);
            }
        }
    }
}
