.intro-section {
   

   p {
      

      @include breakpoint('small') {
         padding-top: 50px;
         padding-bottom: 80px;
         font-size: 18px;
      }
    
      @include breakpoint('large') {
         padding-top: 150px;
         padding-bottom: 200px;
         max-width: 80%;
          margin: 0 auto;
         font-size: 24px;
         line-height: 1.1;

      }
   }
}